name: Check files that have changed
# This workflow is triggered on pushes to the repository.
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    # Paths can be used to only trigger actions when you have edited certain files, such as a file within the /docs directory
    #paths:
    #  - 'docs/**.md'
    #  - 'docs/images/**'
    #  - '.github/workflows/*yml'
jobs:
  build:
    runs-on: ubuntu-latest
    name: Test changed-files

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: echo "CHANGED_FILES=$(git diff --name-only ${{ github.event.before }}..${{ github.event.after }})" >> $GITHUB_ENV
             
