name: Docs to PDF
# This workflow is triggered on pushes to the repository.
on:
  workflow_dispatch:
  push:
    branches:
      - main
    # Paths can be used to only trigger actions when you have edited certain files, such as a file within the /docs directory
    paths:
      - 'docs/**.md'
      - 'docs/images/**'
      - '.github/workflows/*yml'
jobs:
  converttopdf:
    name: Build PDF
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - run: chmod +x ./scripts/filter_mds_new_only.sh
      - run: ./scripts/filter_mds_new_only.sh
      - uses: baileyjm02/markdown-to-pdf@v1
        with:
          input_dir: tmp_mds_to_convert
          output_dir: new_pdfs
          # images_dir: docs/images
          # for example <img src="./images/file-name.png">
          # image_import: ./images
          # Default is true, can set to false to only get PDF files
          build_html: false
      - uses: actions/upload-artifact@v1
        with:
          name: new_pdfs
          path: new_pdfs
      - run: |
          for new_pdf in `ls new_pdfs/*pdf`; do
            curl -F file=${new_pdf} \
            -F channels=#meeting-minutes-pdfs \
            -H "Authorization: Bearer ${{ secrets.SLACK_SECRET }} \
            https://slack.com/api/files.upload;
          done
      - run: cp new_pdfs/*pdf pdfs/
      - run: rm -rf tmp_mds_to_convert
      - run: rm -rf new_pdfs
      - uses: mikeal/publish-to-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: 'main'
